<div class="row">

    <h3 id="movie-list">Movie List</h3>

    <div>
    Search movie by name : <input type="text" [(ngModel)]="movieName">
    </div>
   
   
        <div class="card"  *ngFor="let movie of movies | searchByName : movieName" style="width: 16rem; height: 25rem;">
            <img id="card-img" [src]="movie.image" class="card-img-top" alt="image not found">
            <div class="card-body">
            <h5 class="card-title">{{movie.name }}</h5>
            <p class="card-text">Director: {{movie.director | nameFormatter:"-"}}<br>
            Release Date: {{movie.releaseDate }}  
            </p>
            </div>
        </div>

        <div *ngIf="movieName && (movies| searchByName:movieName).length==0">
          <h3 id="message"> No movie found </h3>
        </div>
    
          
      

</div>