.fav-photos{
    width: 24%;
    float: left;
    text-align: center;
    height: 100vh;
    
}

h2{
    color: purple;
}

.image{
    width: 50%;
    height: auto;
    margin: 2%;    
}

li{
    list-style-type: none;
    margin: 3%;    
    font-size: 20px;
    padding: 1%;
    background-color: lightgray;
    border-radius: 10px;    
}